{% extends "authentication/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- display the form -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <form action='{% url 'authentication:login' %}' method="post" class="form">
        <fieldset>
            <div class="panel-body">
                {% csrf_token %}
                <div class="form-group">
                    {{ state }}
                </div>
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                </div>
                <button class="btn btn-primary btn-block" type='submit'>Sign in</button>
            </div>
        </fieldset>
    </form>
    <div class="panel-footer">
         <a class="" href="{% url 'authentication:register' %}">Register</a>
        <a href='#forgot password' class="">Forgot your password</a>
    </div>
</div>
{% endblock %}
